{% extends 'base.html' %}    
{% block content %}

        <h2 class="section-heading mb-4">
        <span class="section-heading-upper">An Ambassador</span>
        <span class="section-heading-lower">for his breed</span>
        </h2>
        <p class="mb-3">Every moment of his joyful life has been spent in happiness, and it shows in his character.
                        Balanced and full of love, this companion brings joy wherever he goes. 
                        Because he is so social and loves the company of other dogs and humans, you can book a walk with him, 
                        to socialize your dog, or simply, to get a glimpse of true happiness yourself.
        </p>
        <div class="intro-button mx-auto">
        <a class="btn btn-primary btn-xl" href="#">Book a walk Today!</a>
        </div>
    


<!-- <section class="page-section cta">
<div class="container">
    <div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
        </h2>
        <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
        </div>
    </div>
    </div>
</div>
</section> -->
{% endblock %}